body {
    margin: 0px;
}

div {
    width: 80%;
    height: 50px;
    padding: 15px;
    border: 3px solid blue;
    margin: 30px 20px 30px 10px;
}

p {
    margin: 40px;
    border: 3px solid green;
}

article {
    border: 3px solid orange;
    margin: 20px 10px;
    height: 120px;
}

section {
    width: 75px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}